---
---
:ruby
  # needed since some content render <pre> blocks
  content = find_and_preserve(yield)

!!!
%html
  %head
    = render '_head'
  %body
    = render "_header"
    - if @item[:kind] == 'batch'
      = render('_batch', :item => @item, :content => content)
    - else
      = content
    %footer
      = render '_ganalytics'