---
---
:ruby
  # needed since some content render <pre> blocks
  content = find_and_preserve(yield)

!!!
%html
  %head
    = render '_head'
  %body
    #wrap
      %header#page.container
        = render "_header"
      %article#page.container
        - if @item[:kind] == 'batch'
          = render('_batch', :item => @item, :content => content)
        - else
          = content
    %footer#page.container
      = render '_footer'
      = render '_ganalytics'